.container {
  /* width: 100%;
  height: 100vh;
  display: flex;
  align-content: flex-end;
  justify-content: center;
  margin-top: 100px; */
 
}
.SignTitle{
align-items: center;
}

.Outerclass1{
  width: 700px;
  /* height: 700px; */
  border: black 2px solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  align-content: center;
  /* background-color: rgb(169, 184, 213); */

}

.inputBOX{
  border: none;
  border-bottom: 2px solid rgb(134, 22, 22);
  width: 300px;
}
.icon{
  display: flex;
  justify-content: space-between;
}

.RegisterBut{
  height: 45px;
  width: 85px;
background-color: rgb(89, 129, 198);
border-radius:5px;
}
.mb-3 {
  width: 300px;
  size: 100px; 
  
}
