.container {
    /* width: 100%;
    height: 100vh;
    display: flex;
    align-content: flex-end;
    justify-content: center;
    margin-top: 100px; */
  }
  
  .login1 {
    /* margin-left: -0%; */
    width: 40%;
    height: 60%;
    border: black 2px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    margin-top: -30px;
    
  }
  
  .inputDIV {
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .inputBOX{
    width: 260px;
    height: 25px; 
  }
  .buttonBOX{
    background-color: rgb(103, 175, 145);
    color: rgb(68, 25, 25);
    border-radius: 5px;
    width: 100px;
    height: 35px;
    justify-content: center;
  
    
  }
  
  .buttonDIV
  {
    display: flex;
    justify-content: space-between;
  
  }
  .bt{
    color: red;
    display: flex;
    justify-content: flex-end;
  
  }